<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PhotoQuest</title>
    <link rel="stylesheet" href="styles/styles.css">
    <link rel="icon" href="images/favicon5.ico">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="row">
    <div class="col-9 main">
        <div class="row">
            <img src="images/logo.png" class="logo" width="300">
            <hr>
        </div>
        <div class="row">
            <p>PhotoQuest is a photo website that hosts competitions for the best photo. We have two topics for the
                competitions, Cooking and Traveling. We give you a quest, you go find it, or create it, and snap the
                best photo you can of it, and we all together will choose the winner. The prize will cover the expenses
                of achieving the quest, whether it is ingredients, gas for your vehicle, or a plain ticket.
                If you win, you basically get the meal/travel on us. </p>
        </div>
    </div>
    <div class="col-3 navbar">
        <ul>
            <li><a href="#">Current Quests</a></li>
            <li><a href="#">Past Quests</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Contact Us</a></li>
            <hr>
            <li><a href="#">Log In</a></li>
        </ul>
    </div>
</div>
</div>
</body>
</html>