<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="icon" href="images/favicon5.ico">
</head>
<body>
<h1>PhotoQuest</h1>
<img src="images/favicon4.png" width="70">
<p>PhotoQuest is a photo website that hosts competitions for the best photo. We have two topics for the
        competitions, Cooking and Traveling. We give you a quest, you go find it, or create it, and snap the
        best photo you can of it, and we all together will choose the winner. The prize will cover the expenses
        of achieving the quest, whether it is ingredients, gas for your vehicle, or a plain ticket.
        If you win, you basically get the meal/travel on us. </p>
</body>
</html>