<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Login</title>
  <link rel="stylesheet" href="styles/login.css">
</head>


<body>

<h2 class="login">Login Form</h2>

<form action="/index.php" method="post">
    <div class="loginform">
        <label for="user"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="user" required>

        <label for="pass"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="pass" required>

        <button type="submit">Login</button>
        <label>
            <input type="checkbox" checked="checked" name="remember"> Remember me
        </label>
    </div>
    <a href="createaccount" role="button"
       class="createacct" id="bottom-apply">create account</a>

</body>

</html>