<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
  <link rel="stylesheet" href="styles/newaccount.css">
</head>

<body>

<h2 class="create">Create Account</h2>

<form action="/index.php" method="post">
  <div class="signupform">
    <label for="user"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="user" required>

    <label for="pass"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="pass" required>

    <button>sign up</button>
  </div>

</body>

</html>