<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>PhotoQuest</title>
    <link rel="stylesheet" href="styles/newstyle.css">
    <link rel="icon" href="images/favicon5.ico">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">

</head>

<body>
    <!---------------------------------------------Start Photography Image------------------>
    <section class="intro">


        <a href="/328/PhotoQuest"><img src="images/logo2.png" alt="logo" class="logo"></a>

        <div class="login">
            <a href="login">Log In/Sign Up</a>
        </div>

        <div class="nav bottom-nav">
            <ul class="row">
                <li class="col-3"><a class="nav-link" href="current-quests"><b>Current Quests</b></a></li>
                <li class="col-3"><a class="nav-link" href="past-quests">Past Quests</a></li>
                <li class="col-3"><a class="nav-link" href="about-us">About Us</a></li>
                <li class="col-3"><a class="nav-link" href="contact-us">Contact Us</a></li>
            </ul>
        </div>

        <br>

    </section>
    <!---------------------------------------------End Photography Image------------------>


    <section class="info">

        <div class="prompt">
            <h1 class="questName">Salmon Wellington</h1>
            <p class="dishDescription">A twist on the classic Beef Wellington, this dish features a beautiful fillet of
                fresh Pacific Northwest salmon wrapped in puff pastry with a flavorful mixture
                of spinach, cream cheese, and herbs. Show us your skills in capturing the beautiful
                presentation of this dish and the delicious flaky texture of the pastry.</p>
        </div>

        <hr>

        <form action="#" method="post">
            <repeat group="{{ @allQuests }}" value="{{ @quest }}" counter="{{ @counter }}">
                <div class="contest">
                    <h3 class="userName">{{ @quest.name }}</h3>
                    <img class="questPhoto" src="images/SalmonWellington/{{ @quest.path }}" data-action="zoom"
                        data-original="images/SalmonWellington/{{ @quest.path }}" alt="journey_start_thumbnail" />
    
                    <div class="count">
                        Vote: <input type="radio" name="vote" value="{{ @quest.id }}" /><br>
                    </div>
                </div>
                <hr>
            </repeat>
            <div class="count">
                <button class="submitVote">Submit Vote</button>
            </div>
        </form>


    </section>


    <include href="views/includes/footer.html"></include>
    <script src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/zooming.min.js'></script>
    <script src="scripts/script.js"></script>

</body>

</html>