<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Home | PhotoQuest | Photography Company</title>

    <script src="https://use.fontawesome.com/59e0897754.js"></script>
    <link rel="stylesheet" href="styles/homepage.css">
</head>

<body>
<section class="intro">

    <nav>
        <a href="#" id="menu-icon"></a>
        <ul>
            <li><a href="#about">About Us</a></li>
            <li><a href="#port">Portfolio</a></li>
            <li><a href="#serv">Services</a></li>
            <li><a href="#contact">Contact Us</a></li>
        </ul>
    </nav>
    <div class="inner">
        <div class="content">
            <h1>PhotoQuest</h1>
            <p>photography company.</p>
        </div>
    </div>
</section>
<div class="clearfix"></div>
<a name="about">
    <section class="left-col">
        <h2>About Us</h2>
        <p style="text-indent: 6%">PhotoQuest is Washington’s leading professional portrait and wedding photography company. With 10 studios nationwide, our aim is to offer you a professional photography service that leaves you with beautiful, creative images.
        </p>
    </section>

    <section class="sidebar">
        <img src="">
    </section>

    <div class="clearfix"></div>

    <a name="port">
        <h2> Our Portfolio</h2>
        <div class="third">
            <a href="" target="_blank"><img src="leaf.jpeg"></a>
            <caption>
                Elegant
                <caption>
        </div>
        <div class="third">
            <a href="" target="_blank"><img src=""></a>
            <caption>
                Elegant
                <caption>
        </div>
        <div class="third">
            <a href="" target="_blank"><img src=""></a>
            <caption>
                Elegant
        </div>
        <div class="third">
            <a href="" target="_blank"><img src=""></a>
            <caption>
                Elegant
                <caption>
        </div>
        <div class="third">
            <a href="" target="_blank"><img src=""></a>
            <caption>
                Elegant
                <caption>
        </div>
        <div class="third">

            <a href="" target="_blank"><img src=""></a>
            <caption>
                Elegant
                <caption>
        </div>
        <div class="clearfix"></div>
        <a name="serv">
            <section class="left-col">
                <h2> Our Services</h2>
                <p style="text-indent: 6%">
                    Since we started to offer our photography services, we've become respected leaders in the art of photographs. We believe that the quality of our work has only one judge – our customers. That’s why we offer a client satisfaction guarantee for every project.
                    We're not happy if my clients aren’t happy!
                </p>
            </section>

            <section class="sidebar">
                <section class="contact">
                    <p>
                        Wedding Portraits <br class="break"> Engagements <br class="break"> Social Events <br class="break"> Artistic Modeling <br class="break"> School Photos <br class="break"> Family Portraits
                    </p>
                </section>
            </section>

            <div class="clearfix"></div>
            <a name="contact">
                <section class="parallax">
                    <div class="parallax-inner">
                    </div>
                </section>
                <div class="clearfix"></div>
                <h2>Contact Us</h2>
                <section class="contact">
                    <p id="five"> PhotoQuest <br class="break"> <a href="mailto:PhotoQuest@gmail.com"> PhotoQuest@gmail.com</a><br class="break"> 206883999
                    </p>
                    <p id="five">
                        5000 Elliot St <br class="break"> Seattle <br class="break"> Washington
                    </p>
                </section>
                <div class="clearfix"></div>
                <footer>
                    <ul class="social">
                        <li><a href="https://www.facebook.com" target="_blank"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://plus.google.com" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="https://www.instagram.com/accounts/login/" target="_blank"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="https://twitter.com" target="_blank"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://www.youtube.com/" target="_blank"><i class="fa fa-youtube"></i></a></li>
                    </ul>
                </footer>
                <footer class="second">
                    <p>&copy; PhotoQuest</p>
                </footer>


</body>
</html>